# Convert Classification Data to Hot Encoding
The data I have coming in for classification has many different classifications which is problematic to our classifier. So I'm converting my csv to include multiple columns for each classification. If the row is classification X, then it will have a 1 in column X and a zero in the rest.

In [2]:
import pandas as pd

In [3]:
old_class_df = pd.read_csv("./saved_data/post_comment_class.csv")
old_class_df.head()

                                              prompt class
0  title: (UPDATE) AITA for telling my step-daugh...   nta
1  title: AITA - I missed my daughter’s award cer...   yta
2  title: AITA For Barring My Husband From The Be...   nta
3  title: AITA For Firing An Employee After His P...   yta
4  title: AITA For Refusing To Crochet Something ...   nta

In [4]:
hot_encoded_df = pd.DataFrame(index=old_class_df.index)

# Iterate through the unique values in the 'class' column
for c in old_class_df['class'].unique():
    # Create a new column in the new DataFrame for the current class
    new_col = (old_class_df['class'] == c).astype(int)
    hot_encoded_df[c] = new_col

In [5]:
hot_encoded_df.head()

   nta  yta  esh  nah  info
0    1    0    0    0     0
1    0    1    0    0     0
2    1    0    0    0     0
3    0    1    0    0     0
4    1    0    0    0     0

In [6]:
# Concatenate the new DataFrame with the original DataFrame
new_class_df = pd.concat([old_class_df['prompt'], hot_encoded_df], axis=1)
new_class_df.head()

                                              prompt  nta  yta  esh  nah  info
0  title: (UPDATE) AITA for telling my step-daugh...    1    0    0    0     0
1  title: AITA - I missed my daughter’s award cer...    0    1    0    0     0
2  title: AITA For Barring My Husband From The Be...    1    0    0    0     0
3  title: AITA For Firing An Employee After His P...    0    1    0    0     0
4  title: AITA For Refusing To Crochet Something ...    1    0    0    0     0

In [7]:
new_class_df.to_csv("./saved_data/hot_encoded_class.csv", index=False)